@media only screen and (max-width: 1398.98px) {
  .main .main-header::after {
    height: 10%;
  }
}

@media only screen and (max-width: 1199.98px) {
  .main .main-header::after {
    width: 125px;
    height: 125px;
  }
  .main .main-header .container .header-container {
    padding: 0;
    padding-top: 10rem;
    margin: 0;
    margin-bottom: 11.5rem;
  }
  .main .main-header .container .header-container::before {
    height: 0;
  }
  .main .main-header .container .header-container .col-sm-12 {
    padding: 0;
    padding-top: 2rem;
  }
  .main .main-header .container .header-container .col-sm-12 .bold-title {
    font-size: 3.5rem;
  }
  .main .courses-statistics .col-lg-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .courses-statistics .col-lg-3:nth-child(2) img {
    margin-left: 1rem !important;
  }
  .main .courses-statistics .col-lg-3 img {
    margin-left: 4rem;
  }
  .main .courses-statistics .col-lg-3 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .courses-statistics .col-lg-3 div .statistics-number {
    margin-bottom: 1rem;
  }
  .main .featured-courses .courses-list .courses-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .featured-courses .courses-list .courses-item .course-img img {
    width: 100%;
  }
  .main .featured-courses .courses-list .courses-item .course-info {
    padding: 2rem;
  }
}

@media only screen and (max-width: 991.98px) {
  .main .main-navbar .container .container-fluid .nav-toggles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main-navbar .container .container-fluid .nav-toggles .get-consultation-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .main-navbar .container .container-fluid .navbar-collapse {
    background-color: #fff;
  }
  .main .main-navbar .container .container-fluid .navbar-collapse .navbar-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .main-navbar .container .container-fluid .navbar-collapse .navbar-btn .nav-item .subscribe-btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
  }
  .main .main-navbar .container .container-fluid .navbar-collapse .navbar-btn .nav-item button {
    margin-bottom: 1rem;
  }
  .main .main-header::after {
    width: 20%;
    height: 6%;
  }
  .main .main-header::after {
    width: 100px;
    height: 100px;
  }
  .main .main-header .container {
    margin-bottom: 0;
    padding-bottom: 0rem;
  }
  .main .main-header .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .main .main-header .container .row .col-sm-12 {
    padding-top: 2rem;
  }
  .main .main-header .container .row .col-sm-12 .play-showreel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .main-header .container .row .col-sm-12 .bold-title {
    text-align: center;
  }
  .main .main-header .container .row .col-sm-12 .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 6.5rem;
  }
  .main .main-header .container .row .col-sm-12 .row .col-5 {
    width: 13rem;
    height: 5rem;
    font-size: 1.7rem;
  }
  .main .main-header .container .row .col-sm-12 .row .col-7 {
    width: 18rem;
    height: 5rem;
    font-size: 1.7rem;
  }
  .main .main-header .container .courses-statistics {
    display: none;
  }
  .main .who-we-are {
    padding: 15% 0;
  }
  .main .who-we-are .container-fluid .reasons {
    margin-top: 3rem;
  }
  .main .who-we-are .container-fluid .reasons .sub-title {
    text-align: center;
  }
  .main .who-we-are .container-fluid .reasons .title {
    text-align: center;
  }
  .main .who-we-are .container-fluid .reasons div p {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 12px;
  }
  .main .who-we-are .container-fluid .reasons .more {
    margin-left: 35%;
  }
}

@media only screen and (max-width: 767.98px) {
  .main .main-navbar .navbar .container-fluid .navbar-brand .img-fluid {
    width: 6rem;
  }
  .main .main-navbar .navbar .container-fluid .nav-toggles .get-consultation-btn {
    display: none;
  }
  .main .main-navbar .navbar .container-fluid .nav-toggles .navbar-toggler .navbar-toggler-icon {
    width: 1.2rem;
    height: 0.12rem;
    margin-bottom: 0.1rem;
  }
  .main .main-navbar .navbar .container-fluid .nav-toggles .navbar-toggler .navbar-toggler-icon::after {
    width: 1.2rem;
    height: 0.1rem;
    margin-bottom: 0.1rem;
    top: 0.3rem;
  }
  .main .main-navbar .navbar .container-fluid .nav-toggles .navbar-toggler .navbar-toggler-icon::before {
    width: 1.2rem;
    height: 0.12rem;
    bottom: 0.3rem;
  }
  .main .featured-courses .courses-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .featured-courses .courses-list .courses-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main .featured-courses .courses-list .courses-item .course-img img {
    width: 100%;
  }
  .main .featured-courses .courses-list .courses-item .course-info {
    padding: 2rem 0.5rem;
  }
}

@media (max-width: 575.98px) {
  .main .main-navbar .navbar {
    padding: 0 1rem;
  }
  .main .main-header .container .header-container .col-sm-12 .play-showreel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .main-header .container .header-container .col-sm-12 .bold-title {
    font-size: 2rem;
  }
  .main .main-header .container .header-container .col-sm-12 .row .btn-about-us {
    width: 7rem;
    height: 3.25rem;
    font-size: 0.9rem;
  }
  .main .main-header .container .header-container .col-sm-12 .row .btn-courses {
    width: 11rem;
    height: 3.25rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 479.98px) {
  .container .row {
    padding-top: 10rem;
  }
  .container .row .col-sm-12 {
    padding-top: 2rem;
  }
  .container .row .col-sm-12 .play-showreel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=media.css.map */