@media only screen and (max-width: 1398.98px){
    .main{
        .main-header{
            &::after{
                height: 10%;
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) {
    .main{
        .main-header{
            &::after{
                width: 125px;
                height: 125px;
            }
            .container{
                .header-container{
                    padding: 0;
                    padding-top: 10rem;
                    margin: 0;
                    margin-bottom: 11.5rem;
                    &::before{
                        height: 0;
                    }
                    .col-sm-12{
                        padding: 0;
                        padding-top: 2rem;
                        
                        
                        .bold-title{
                            font-size: 3.5rem;
                        }
                        
                    }
                }
                    
                    
                }
            }
            .courses-statistics{
                .col-lg-3{
                    display: flex;
                    padding: 0;
                    align-items: center;
                    justify-content: space-between;
                    &:nth-child(2){
                        img{
                            margin-left: 1rem !important;
                        }
                    }
                    img{
                    margin-left: 4rem;
                    }
                    div{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        .statistics-number{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        
        .featured-courses{
            .courses-list{
                .courses-item{
                    flex-direction: column;
                    .course-img{
                        img{
                            width: 100%;
                        }
                    }
                    .course-info{
                        padding: 2rem;
                    }
                }
            }
        }
        
    }
}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) {
    
    .main{
        .container{
            .container-fluid{
                .navbar-collapse{
                    background-color: #fff;
                    .navbar-btn{
                        display: flex;
                        flex-direction: column-reverse;
                        .nav-item{
                            .subscribe-btn{
                                justify-content: start;
                                padding: 0;
                            }
                            button{
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .main-header{
            &::after{
                width: 20%;
                height: 6%;
            }
            &::after{
                width: 100px;
                height: 100px;
            }
            .container{
                margin-bottom: 0;
                padding-bottom: 0rem;
                
                .row{
                    // padding-top: 10rem;
                    flex-direction: column-reverse;
                    margin-bottom: 0;
                    .col-sm-12{
                        padding-top: 2rem;
                        .play-showreel{
                            justify-content: center;
                        }
                        .bold-title{
                            text-align: center;
                        }
                        .row{
                            justify-content: space-around;
                            flex-direction: row;
                            margin-bottom: 6.5rem;
                            .col-5{
                                width: 13rem;
                                height: 5rem;
                                font-size: 1.7rem;
                            }
                            .col-7{
                                width: 18rem;
                                height: 5rem;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
            .container{
                .courses-statistics{
                    display: none;
                }
            }
        }
        .who-we-are{
            padding: 15% 0;
            .container-fluid{
                .reasons{
                    margin-top: 3rem;
                    .sub-title{
                       text-align: center
                    }
                    .title{
                        text-align: center
                    }
                    div{
                        p{
                            align-items: start;
                            margin-bottom: 12px;
                        }
                    }
                    .more{
                        margin-left: 35%;

                    }
                    
                }
            }
        }
        
    }
    
}
@media only screen and (max-width: 767.98px){
    .main{
        .main-navbar{
            .navbar{
                .container-fluid{
                    .navbar-brand{
                        .img-fluid{
                            width: 6rem;
                        }
                    }
                }
                .nav-toggles{
                    .navbar-toggler{
                        .navbar-toggler-icon{
                            width: 1.2rem;
                            height: 0.12rem;
                            margin-bottom: 0.1rem;
                            &::after{
                                width: 1.2rem;
                                height: 0.1rem;
                                margin-bottom: 0.1rem;
                                top: 0.3rem;
                            }
                            &::before{
                                width: 1.2rem;
                                height: 0.12rem;
                                bottom: 0.3rem;
                                // margin-bottom: 0.12rem;
                            }
                        }
                    }
                }
            }
        }
        .featured-courses{
            .courses-list{
                flex-direction: column;
                .courses-item{
                    flex-direction: column;
                    width: 100%;
                    .course-img{
                        img{
                            width: 100%;
                        }
                    }
                    .course-info{
                        padding: 2rem 0.5rem;
                    }
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    // html{
    //     font-size: 10px;
    // }
    .main{
        .main-navbar{
            .navbar{
                padding: 0 2rem;
            }
        }
        
        .main-header{
            .container{
                .header-container{
                    .col-sm-12{
                        .play-showreel{
                            justify-content: center;
                        }
                        .bold-title{
                            font-size: 3rem;
                        }
                        .row{
                            .btn-about-us{
                                width: 7rem;
                                height: 3.25rem;
                                font-size: 0.9rem;
                            }
                            .btn-courses{
                                width: 11rem;
                                height: 3.25rem;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 479.98px) {
    // html{
    //     font-size: 8px;
    // }
    
    .container{
        .row{
            padding-top: 10rem;
            .col-sm-12{
                padding-top: 2rem;
                .play-showreel{
                    justify-content: center;
                }
            }
        }
    }
}