// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) {
    .main{
    .main-header{
        .container{
            .header-container{
                padding: 0;
                padding-top: 10rem;
                margin: 0;
                margin-bottom: 11.5rem;
                .col-sm-12{
                    padding: 0;
                    padding-top: 2rem;
                    
                    
                    .bold-title{
                        font-size: 3.5rem;
                    }
                    
                }
            }
                
                
            }
        }
        .courses-statistics{
            .col-lg-3{
                display: flex;
                padding: 0;
                align-items: center;
                justify-content: space-between;
                &:nth-child(2){
                    img{
                        margin-left: 1rem !important;
                    }
                }
                img{
                margin-left: 4rem;
                }
                div{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .statistics-number{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    
}

// Medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) {
    
    .main{
        .container{
            .container-fluid{
                .navbar-collapse{
                    background-color: #fff;
                    .navbar-btn{
                        display: flex;
                        flex-direction: column-reverse;
                        .nav-item{
                            .subscribe-btn{
                                justify-content: start;
                                padding: 0;
                            }
                            button{
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .main-header{
            .container{
                margin-bottom: 0;
                padding-bottom: 0rem;
                .row{
                    // padding-top: 10rem;
                    flex-direction: column-reverse;
                    margin-bottom: 0;
                    .col-sm-12{
                        padding-top: 2rem;
                        .bold-title{
                            text-align: center;
                        }
                        .row{
                            justify-content: space-around;
                            flex-direction: row;
                            margin-bottom: 6.5rem;
                            .col-5{
                                width: 13rem;
                                height: 5rem;
                                font-size: 1.7rem;
                            }
                            .col-7{
                                width: 18rem;
                                height: 5rem;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
            .container{
                .courses-statistics{
                    display: none;
                }
            }
        }
    }
    
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    html{
        font-size: 10px;
    }
    .main{
        .main-header{
            .row{
                .col-sm-12{
                    
                    .row{
                        .col-5{
                            width: 16rem;
                            height: 5.5rem;
                            font-size: 2rem;
                        }
                        .col-7{
                            width: 20rem;
                            height: 5.5rem;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
        
    }
}

@media (max-width: 479.98px) {
    html{
        font-size: 8px;
    }
    .container{
        .row{
            padding-top: 10rem;
            .col-sm-12{
                padding-top: 2rem;
                .play-showreel{
                    justify-content: center;
                }
            }
        }
    }
}