@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


// Variables:
$font-lato: 'lato', sans-serif;
$color-primary: #FF3F3A;
$color-gray-600: #9A9CA5;
$color-gray-700: #787A80;
$color-gray-800: #424551;
$color-gray-900: #1E212C;
$color-suces: #03CEA4;
$color-warning: #f89828;
$color-info: #5A87FC;
$color-red-magenta: #F52F6E;
$color-danger: #FF4242;
$btn-gradient:  linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
//  ;

//mixins:
@mixin bold-title-64 {
    font-family: $font-lato;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0625rem;
}

@mixin sub-title-16 {
    font-family: $font-lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #1E212C;
}
@mixin title-46 {
    font-family: $font-lato;
    font-style: normal;
    font-weight: 900;
    font-size: 2.875rem;
    line-height: 2.5rem;
    color: #1E212C;
}

@mixin link-16 {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 160%;
    color: #424551;
    
}

@mixin btn-gradient {
    background: $btn-gradient;
    border-radius: 0.25rem;
    color: #fff;
    border: none;
}

@mixin paragraph-20 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $color-gray-900;
    
}

@mixin paragraph-14 {
    font-family: $font-lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
line-height: 160%;
    display: flex;
    align-items: center;
    color: $color-gray-900;
}
@mixin lear-name-20 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    color: $color-gray-800;
}
//  ;
//    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.main{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    //navbar
    .main-navbar{
        width: 100%;
        position: absolute;
        &::after{
            position: absolute;
            top: 120px;
            left: 50px;
            content: '';
            width: 10%;
            height: 200%;
            background-image: url(../banner/icons/shapes.png);
            background-repeat: no-repeat;
            background-size: 70%;
        }
        &::before{
            //;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
            position: absolute;
            right: 70px;
            top: 0;
            content: '';
            width: 10%;
            height: 200%;
            background-image: url(../banner/icons/uchburchak.png);
            background-repeat: no-repeat;
            background-size: 80%;
        }
        
        .container{
            // position: absolute;
            z-index: 999;
            margin: 0 auto;
            padding: 0;
            .container-fluid{
                margin: 0;
                padding: 1rem 0;
                .navbar-brand{
                    .img-fluid{
                        width: 8rem;
                    }
                }
                .get-consultation-btn{
                    display: none;
                    justify-content: center;
                    align-items: center;
                    @include btn-gradient();
                    width: 12.93rem;
                    height: 3.25rem;
                    border: none;
                }
                .navbar-toggler{
                    &:focus{
                        box-shadow: none;
                    }
                    .navbar-toggler-icon{
                        position: relative;
                        width: 2rem;
                        height: 0.25rem;
                        background-color: $color-gray-900;
                        &::after{
                            position: absolute;
                            top: 0.5rem;
                            left: 0;
                            content: '';
                            width: 2rem;
                            height: 0.25rem;
                            background-color: $color-gray-900;
                        }
                        &::before{
                            position: absolute;
                            bottom: 0.5rem;
                            left: 0;
                            content: '';
                            width: 2rem;
                            height: 0.25rem;
                            background-color: $color-gray-900;
                        }
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                @include link-16();
                            }
                            .get-consultation-btn{
                                @include btn-gradient();
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 12.93rem;
                                height: 3.25rem;
                            }
                            .subscribe-btn{
                                @include link-16();
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 10rem;
                                height: 3.25rem;
                                background-color: transparent;
                                border: none;
                                .img-fluid{
                                    width: 1.125rem;
                                    margin-right: 0.5rem;
                                }
                            }
    
                        }
                    }
    
                }
            }
        }
    }
    // navbar

    // header
    .main-header{
        background-image: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
        background-size: 120%;
        &::after{
            //;;;;;;;;;;;;;;;;;;;;;;;;
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            width: 150px;
            height: 150px;
            background-image: url(../banner/icons/circles.png);
            background-size: 90%;
            background-repeat: no-repeat;
        }
        &::before{
            //;;;;;;;;;;;;;;;;;;;;;;;;;;
            position: absolute;
            top: 58%;
            right: 0;
            content: '';
            width: 12%;
            height: 17% ;
            z-index: 1;
            background-image: url(../banner/icons/dots.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .container{
            padding-bottom: 6rem;
            .header-container{
                position: relative;
                padding: 0;
                padding-top: 10rem;
                margin: 0;
                margin-bottom: 30%;
                &::after{
                    //;;;;;;;;;;;;;;;;;;;;;;;;
                    position: absolute;
                    top: 67%;
                    left: 32%;
                    content: '';
                    width: 10%;
                    height: 10%;
                    z-index: 1;
                    background-image: url(../banner/icons/yarimaylana.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                &::before{
                    //;;;;;;;;;;;;;;;;;;;;;;
                    position: absolute;
                    top: 100%;
                    left: 25%;
                    content: '';
                    width: 100px;
                    height: 70px;
                    z-index: 1;
                    background-image: url(../banner/icons/Vectoryarim.png);
                    background-repeat: no-repeat;
                    background-size: 40%;
                }
                .col-sm-12{
                    position: relative;
                    z-index: 999;
                    padding: 0;
                    padding-top: 2rem;
                    .play-showreel{
                        @include paragraph-14();
                        margin-bottom: 4.5rem;
                        padding: 0 1rem;
                        font-weight: bold;
                        .play-icon{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 3.25rem;
                            height: 3.25rem;
                            margin-right: 1rem;
                            border-radius: 50%;
                            background-color: $color-primary;
                            transition: 0.5s;
                            &:hover{
                                box-shadow: 0 0 0 1rem rgba(255, 63, 58, 0.12);
                            }
                            .fas{
                                color: #fff;
                                font-size: 1.2rem;
                                margin-left: 0.25rem;
                            }
                        }
                    }
                    .bold-title{
                        @include bold-title-64();
                        margin-bottom: 3rem;
                        padding-right: 10%
                    }
                    .row{
                        .btn-about-us{
                            @include link-16();
                            width: 10rem;
                            height: 3.25rem;
                            border: 0.1rem solid $color-red-magenta;
                            border-radius: 0.25rem;
                            margin-right: 1rem;
                            background-color: transparent;
                            color: $color-primary;
                            transition: 0.5s;
                            &:hover{
                                background-image: $btn-gradient;
                                color: #fff;
                                transition: 0.5s;
                            }
                        }
                        .btn-courses{
                            @include link-16();
                            @include btn-gradient();
                            
                            width: 12.5rem;
                            height: 3.25rem;
                        }
                    }
                }
            }
            .courses-statistics{
                margin: 0;
                padding: 0;
                .list-inline{
                    display: flex;
                    padding: 0;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    .list-inline-item{
                        display: flex;
                        align-items: center;
                        .statistics-number{
                            @include title-46();
                            margin-right: 0.8rem;
                        }
                        .statistics-name{
                            @include link-16();
                        }
                    }
                }
                
                
            }
        }
    }
    // header

    // who-we-are
    .who-we-are{
        padding: 15% 0;
        .container-fluid{
            .reasons{
                padding-left: 5%;
                flex-direction: column;
                .sub-title{
                    @include sub-title-16();
                    margin-bottom: 0.5rem;
                }
                .title{
                    @include title-46();
                    margin-bottom: 2.5rem;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    p{
                        @include paragraph-14();
                        align-items: start;
                        margin-bottom: 0.8rem;
                        img{
                            margin: 0.35rem;
                        }
                    }
                }
                .more{
                    width: 10rem;
                    height: 2.75rem;
                    @include link-16();
                    @include btn-gradient();
                    margin-top: 3rem;
                    
                }
            }
        }
    }

}

